{% extends 'base.html.twig' %}

{% block menu %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <h1>{{name}}</h1>
    <h2>Liste des questions<span class="btn btn-primary ajoutQuest">Ajouter une question</span></h2>
    <table class="list_quest">
    {% for question in questions %}
           
        
        <tr class="questionAffich">
            <td>
            <a href="{{ path('question', { id : question.id }) }}">{{ question.title }}</a>
            </td>
             <td>
             {{ question.score }} points
             </td>
            
              <td>
            <a href="{{ path('editQuestion', { id : question.id }) }}"><i class="far fa-edit"></i></a>
            </td>
             <td>
            <a href="{{ path('supprQuestion', { id : question.id }) }}"><i class="fas fa-trash-alt"></i></a>
            </td>
             
             </tr>
             <tr class="prop">
             <td class="slideBox affichAjaxProp ajaxProp_{{question.id}}" colspan="5">
            {% for proposition in question.propositions %}
                {# {{dump(proposition)}} #}
                <span class="slide proposition" id="{{proposition.id}}" >
                    <a href="{{path('DelAjaxProp')}}" class="slideOut delProp" data="{{proposition.id}}"><i class="fas fa-trash-alt"></i></a >
                    
                    {{proposition.text}}
                    
                </span>
            {% endfor %} 
            </td> 
            </tr>
            <tr class="borderProp">        
             <td colspan="5">
                <form class="{{question.id}}" name="proposition" method="post">
                <input type="hidden" class="id_prop" name="proposition_id" value="{{question.id}}">
                    <div id="proposition">
                    <div class="form-group">
                            <label for="proposition_text" class="required">proposition</label>
                            <input type="text"  name="proposition[text]" required="required" maxlength="255" class="empty text" />
                    </div>
                    <div class="form-group">
                        <div class="form-check">   
                            <input type="checkbox"  name="proposition[correct]" class="correct" value="1" />
                            <label class="form-check-label" for="proposition_correct">Correct</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <a class="submitAjax"  href="{{ path('AjaxProp')}}" id="{{question.id}}" name="proposition[valider]" class="btn-primary btn">Valider</a>
                    </div>
                </form>
             </td>
        </tr>
    {% else %}
        <p>Aucune question</p>
    {% endfor %}
    </tr>
    </table>
    
    <div class="formQuest hide">
    {{form(form)}}
    </div>
{% endblock %}
