{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ question.title }}</h2>
    <table class="list_quest">
    {% for proposition in question.propositions %}
    <colgroup>
    <col class="w">
    <col>
  </colgroup>
        <tr>
            <td>
            {{ proposition.text }}
            </td>
            <td>
        <a href="{{ path('modifProp', { id : proposition.id }) }}"><i class="far fa-edit"></i></a>
        
        <a href="{{ path('deleteProp', { id : proposition.id }) }}"><i class="fas fa-trash-alt"></i></a>
        </td>
        </tr>
    {% endfor %}
    </table>
    {{form(form)}}

{% endblock %}